
    <div class="container">
        <nav class="nav">
            <div class="nav__hamburger">
                <svg>
                    <use xlink:href="/resources/images/sprite.svg#icon-menu"></use>
                </svg>
            </div>

            <div class="nav__logo">
                <a href="/home" class="scroll-link">
                    PHONE
                </a>
            </div>

            <div class="nav__menu">
                <div class="menu__top">
                    <span class="nav__category">PHONE</span>
                    <a href="#" class="close__toggle">
                        <svg>
                            <use xlink:href="/resources/images/sprite.svg#icon-cross" ></use>
                        </svg>
                    </a>

                </div>
                <ul class="nav__list">
                    <li class="nav__item" >
                        <a href="/home" class="nav__link scroll-link">Home</a>
                    </li>
                    <li class="nav__item">Category
                        <ul class = "nav__link nav__dropdown dropdown__animation">
                            <li><a href="/home/products?type=phone">Smart Phone</a></li>
                            <li><a href="/home/products?type=tablet">Tablet</a></li>
                            <li><a href="/home/products?type=laptop">Laptop</a></li>
                            <li><a href="">Accessory</a></li>
                            <li><a href="">Watch</a></li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="#news" class="nav__link scroll-link">Blog</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link scroll-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="nav__icons">
                <a href="#" class="icon__item" th:if="${isLog && dto.role == 'ADMIN'}">
                    <i class="fas fa-tasks"></i>
                </a>
                <a href="/login" class="icon__item" th:if="${!isLog}">
                    <svg class="icon__user">
                        <use xlink:href="/resources/images/sprite.svg#icon-user"></use>
                    </svg>
                </a>

                <a href="/home/search" class="icon__item" >
                    <svg class="icon__search">
                        <use xlink:href="/resources/images/sprite.svg#icon-search" ></use>
                    </svg>
                </a>
                <a href="/cart" class="icon__item" th:if="${isLog}">
                    <svg class="icon__cart">
                        <use xlink:href="/resources/images/sprite.svg#icon-shopping-basket" ></use>
                    </svg>
                    <span class = "cart__total cart_total">0</span>
                </a>
                <a href="/login?status=401" class="icon__item" th:if="${isLog}">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
        </nav>
    </div>
<script type="text/javascript">
    function getAllProductInLocalStorage(username) {
        var values = [];
        var keys = Object.keys(localStorage);

        for(var k of keys) {
            if(localStorage.getItem(k) === username) {
                values[values.length++] = {
                    "key": k,
                    "value": localStorage.getItem(k)
                }
            }
        }
        console.log(values.length);
        return values;
    }
    let customer = {};
    fetch("/customer/get-logged", {
        method: 'GET',
    }).then(resp => {
        if(resp.status === 200) {
            return resp.json();
        } else {
            return undefined;
        }
    }).then(data => {
        customer = data;
        if(data === undefined) {
        } else {
            document.querySelector(".cart_total").innerHTML = getAllProductInLocalStorage(data.username).length;
        }
    });
</script>
